#!version:1.0.0
## Configuration Utilisateur ##

# Compte SIP 1
account.1.enable = 1
account.1.label = Accueil SIEGE
account.1.display_name = Accueil SIEGE
account.1.auth_name = 2000
account.1.user_name = 2000
account.1.password = XXXX
account.1.sip_server.1.address = 172.16.0.1
account.1.sip_server.1.port = 5060

# --- Les 3 Touches de Ligne (Multi-appel) ---
linekey.1.line = 1
linekey.1.type = 15
linekey.1.label = Ligne 1

linekey.2.line = 1
linekey.2.type = 15
linekey.2.label = Ligne 2

linekey.3.line = 1
linekey.3.type = 15
linekey.3.label = Ligne 3

# --- Touche 4 : Feature Follow-Me ---
linekey.4.line = 1
linekey.4.type = 16
linekey.4.value = *212000
linekey.4.label = Suivez-Moi

# --- Touche perso ---
linekey.5.line = 1
linekey.5.type = 16
linekey.5.value = 2091
linekey.5.label = Pdt
linekey.5.extension = **

linekey.6.line = 1
linekey.6.type = 16
linekey.6.value = 2001
linekey.6.label = DGS
linekey.6.extension = **

linekey.7.line = 1
linekey.7.type = 16
linekey.7.value = 2035
linekey.7.label = DGA
linekey.7.extension = **

linekey.8.line = 1
linekey.8.type = 13
linekey.8.value = 0699999999
linekey.8.label = Prestataire

# Langue et Heure
lang.gui = French
lang.wui = French
local_time.time_zone = +1
local_time.time_zone_name = France(Paris)
local_time.ntp_server1 = 0.fr.pool.ntp.org
static.auto_provision.custom.protect = 0
static.auto_provision.overwrite_mode = 1
security.user_password = admin:XXXXXX

# Annuaire distant (Votre script PHP)
remote_phonebook.data.1.url = http://172.16.0.1/phonebook.php
remote_phonebook.data.1.name = Annuaire
features.remote_phonebook.enable = 1

# Touche d'accès rapide à l'annuaire (Bouton "Bas")
programablekey.2.type = 22
programablekey.2.line = 0

# Synchronise l'état DND avec le serveur (utilise le code *76 de FreePBX)
features.dnd.mode = 1
features.dnd.on_code = *76
features.dnd.off_code = *76

# Transfère l'appel dès qu'on raccroche le combiné
transfer.on_hook_trans_enable = 1
features.feature_key_sync.enable = 1

# Configuration VLAN
network.vlan.internet_vlan_enabled = 1
network.vlan.internet_vlan_id = 10
network.vlan.internet_priority = 5

# Configuration Annuaire
directory_setting.remote_phone_book.enable = 1
directory_setting.remote_phone_book.priority = 0
features.remote_phonebook.flash_time = 3600
programablekey.1.type = 28
programablekey.1.label = Historique
programablekey.2.label = Annuaire
voice_mail.number.1 = *97
static.security.user_password = user:XXXXXX
transfer.dsskey_deal_type = 1
features.parked_call_monitor.blf_audio_enable = 0
